.map {
    margin: 0;
    margin-bottom: -10px;
    iframe {
        height: 400px;
        width: 100%;
    }
}

.bottom_feedback {
    .bottom_feedback_wrap {
        display: grid;
        grid-template-columns: 1fr 1fr;
        @media (max-width: 990px) {
            grid-template-columns: 1fr;
        }
    }
    .bottom_feedback_box {
        text-align: center;
        padding: 50px 20px;
        overflow: hidden;
        position: relative;
        @media (max-width: 990px) {
            padding: 45px 20px;
        }
        img {
            position: absolute;
            left: 15%;
            top: -10px;
            @media (max-width: 990px) {
                left: 22%;
            }
        }
        p {
            font: 500 1.5rem 'Roboto', sans-serif;
            @media (max-width: 990px) {
                font: 500 1.2rem 'Roboto', sans-serif;
            }
        }
    }
    .bottom_feedback_box:first-child {
        background: #FEBC35;
    }
    .bottom_feedback_box:last-child {
        background: #f8b224;
    }
}

footer {
    background: #111111;
    .container {
        padding: 45px 0;
        @media (max-width: 990px) {
            padding: 20px 0;
        }
    }
}

.footer_wrap {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-gap: 60px;
    @media (max-width: 990px) {
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }
    .footer_box_logo {
        img {
            margin-bottom: 20px;
            @media (max-width: 990px) {
                margin-bottom: 10px;
                height: 40px;
                max-width: 100%;
                object-fit: contain;
                width: auto;
            }
        }
        p {
            color: #fff;
            font: 400 1rem/24px 'Roboto', sans-serif;
            @media (max-width: 990px) {
                font: 400 .87rem/21px 'Roboto', sans-serif;
            }
        }
    }
}

.footer_wrap_nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    @media (max-width: 576px) {
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }
    .footer_nav_title {
        color: #fff;
        margin-bottom: 15px;
        font: 500 1rem 'Roboto', sans-serif;
        text-transform: uppercase;
    }
    ul {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 15px;
        li {
            a {
                text-decoration: none;
                color: #777;
                transition: .2s;
                font: 400 .95rem 'Roboto', sans-serif;
                &:hover {
                    color: #FEBC35;
                }
            }
        }
    }
}

.copy {
    color: #777;
    margin-top: 20px;
    font: 400 .95rem 'Roboto', sans-serif;
}